    .rodape {
        width: 100%;
        text-align: center;
        font-size: 0.7em;
    }
    .rodape img {
        width: 20%;
        vertical-align: middle;
    }
    .redes {
        width: 100%;
        text-align: center;
    }
    .redes img {
        width: 18%;
    }
    .redes ul li {
        list-style-type: none;
        display: inline;
    }
    footer {
        clear: both;
    }
body {
    text-align: center;
    background-color: #969696;
}
    header {
        clear: both;
        height: 5em;
        margin: 0 auto;
        display: inline-block;
        width: 100%;
        margin-bottom: 3em;
        background-color: rgb(0, 0, 0);
    }
    .cabecalho a {
        text-decoration: none;
        color: #FE60D6;
    }
    .cabecalho a:hover {
        color: #fff;
    }
    .cabecalho ul li {
        text-transform: uppercase;
        list-style-type: none;
        display: inline;
    }
    .cabecalho {
        width: 100%;
        position: relative;
        display: inline;
        font-size: 1em;
        color: #FE60D6;;
        float: center;
        top: 5px;     
    }
    .cabecalho li {
        font-weight: bold;
    }
    .procurar {
        width: 100%;
        text-align: center;
        float: center;
        position: relative;
        top: 1em;
    }
    .menuindex, .con_item_ebook, .con_item_blogs_index {
        width: 100%;
        clear: both;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 2em;
    }
    .itemindex, .item_ebook, .item_blogs_index {
        width: 90%;
        height: 3em;
        background-color: black;
        margin-top: 1em;
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        color: #FE60D6;
        box-shadow: 3px 3px 4px #6C6C6C;
    }
    .itemindex h1, .item_ebook h2, .item_blogs_index h2 {
        margin-top: 1em;
    }
    .itemindex:hover, .item_ebook:hover, .item_blogs_index:hover {
        box-shadow: 3px 3px 4px #C6C6C6;
        color: #fff;
    }
    .itemindex h1, .item_ebook h2, .item_blogs_index h2 {
        margin-top: 1em;
    }
    .itemindex a {
        text-decoration: none;
    }
    .ebook_titulo, .blogs_titulo_index {
        z-index: 3;
        width: 100%;
        background-color: black;
        color: #FE60D6;
        height: 3em;
        margin: 0 auto;
        display: inline-block;
        box-shadow: 3px 3px 4px #C6C6C6;
    }
    .ebook_titulo h1, .blogs_titulo_index h1 {
        margin-top: 1em;
        font-size: 1em;
    }
.paragrafoscodigos {
	background-color: #FFFFF0;
	box-shadow:  -0.1em 0.3em 0.5em #EEDD82;
	padding: 1%;
	text-align: justify;
	border-radius: 0.6em;
	width: 100%;
	overflow:auto;
	margin-bottom: 3%;
}
.paragrafoscodigos h1 {
	color: #8B0A50;
	font-size: 2em; /*-------------------------------------------------------------------- Alterar para 3em desktop*/
	margin: 3%;
	text-align: left;
    font-weight: bold;
}
.paragrafoscodigos h2 {
	color: #8B0A50;
	font-size: 1.5em; /*-------------------------------------------------------------------- Alterar para 3em desktop*/
	margin: 3%;
	text-align: left;
    font-weight: bold;
}
.paragrafoscodigos p {
	color: black;
	margin: 1.1em;
	letter-spacing: 0.1em; /*espaço entre letras*/
	line-height: 1.6em; /*altura da linha*/
	word-spacing: 0.2em; /*espaço entre palavras*/
	text-indent: 1.1em; /*margem da 1ª palavra*/
}
.mais1 {
	background-color: #FFFFF0;
	box-shadow:  -0.1em 0.3em 0.5em #EEDD82;
	padding: 1%;
	text-align: justify;
	letter-spacing: 0.1em; /*espaço entre letras*/
	line-height: 1.3em; /*altura da linha*/
	word-spacing: 0.1em; /*espaço entre palavras*/
	border-radius: 0.2em;
	width: 98%;
    position: relative;
    float: left;
    margin: 1% 1% 3% 1%;
    
}
.mais1 a {
    text-decoration: none;
}
.mais1 a:hover {
    text-decoration: underline;
}
.mais1 h2 {
    color: #8B0A50;
    font-size: 1.5em;
    margin-bottom: .5em;
}
.mais1 p {
    color: #0000CD;
}
.jah {
	background-color: #FFFFF0;
	box-shadow:  -0.1em 0.3em 0.5em #EEDD82;
	padding: 1%;
	text-align: justify;
	border-radius: 0.4em;
	width: 100%;
	overflow:auto;
	margin-bottom: 3%;
}
.jah h1 {
	color: #8B0A50;
	font-size: 1.5em;
}
.jah p {
	color: black;
	margin: 1%;
	letter-spacing: 0.1em; /*espaço entre letras*/
	line-height: 1.2em; /*altura da linha*/
	text-indent: 0.7em; /*margem da 1ª palavra*/
}
.propagando {
    	position: fixed;
    	left: 999999px;
}
figure {
    margin: 1.1em;
    width: 98%;
}
img {
    width: 100%;
}
figcaption {
    text-align: center;
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
    header {
        clear: both;
        height: 6em;
        margin: 0 auto;
        display: inline-block;
        width: 500px;
        margin-bottom: 3em;
        background-color: rgb(0, 0, 0);
    }
        .procurar {
        width: 500px;
        text-align: center;
        float: center;
        position: relative;
        clear: both;
        top: 1em;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1000px) {
    header {
        clear: both;
        height: 6em;
        margin: 0 auto;
        display: inline-block;
        width: 750px;
        margin-bottom: 3em;
        background-color: rgb(0, 0, 0);
    }
        .procurar {
        width: 750px;
        text-align: center;
        float: center;
        position: relative;
        clear: both;
        top: 1em;
    }
}
@media only screen and (min-width: 501px) and (max-width: 1000px) {
    .cabecalho a {
        text-decoration: none;
        color: #FE60D6;
    }
    .cabecalho a:hover {
        color: #fff;
    }
    .cabecalho ul li {
        text-transform: uppercase;
        list-style-type: none;
        display: inline;
    }
    .cabecalho {
        position: relative;
        display: inline;
        font-size: 1.5em;
        color: #FE60D6;;
        float: center;
        top: 5px;
        clear: both;
        padding-bottom: 1em;
    }
    .cabecalho li {
        font-weight: bold;
    }
    .menuindex, .con_item_ebook, .con_item_blogs_index {
        width: 500px;
        clear: both;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 2em;
    }
    .itemindex, .item_ebook, .item_blogs_index {
        width: 230px;
        height: 4em;
        background-color: black;
        margin-bottom: 1em;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        color: #FE60D6;
        box-shadow: 3px 3px 4px #6C6C6C;
    }
    .item_ebook, .item_blogs_index {
        margin-top: 3em;
    }
    .itemindex h1, .item_ebook h2, .item_blogs_index h2 {
        margin-top: 1em;
    }
    .itemindex a {
        text-decoration: none;
    }
    .itemindex:hover, .item_ebook:hover, .item_blogs_index:hover {
        box-shadow: 3px 3px 4px #C6C6C6;
        color: #fff;
    }
    .ebook, .blogs_index {
        margin: 0 auto;
        display: inline-block;
        width: 100%;
        z-index: 3;
    }
    .ebook_titulo, .blogs_titulo_index {
        z-index: 3;
        width: 100%;
        background-color: black;
        color: #FE60D6;
        height: 3em;
        margin-bottom: 3em;
        margin: 0 auto;
        display: inline-block;
        box-shadow: 0 0 0 #C6C6C6;
    }
    .ebook_titulo h1, .blogs_titulo_index h1 {
        margin-top: 6px;
        font-size: 2em;
    }
}
@media only screen and (min-width: 520px) {
    .mais1 {
        width: 46%;
        margin: 0 1% 1% 1%;
    } 
}
@media only screen and (min-width: 1001px) {
    header {
        clear: both;
        height: 10vh;/*
        margin: 0 auto;
        display: inline-block;*/
        width: 1000px;
        margin-bottom: 10vh;
        background-color: rgb(0, 0, 0);
    }
    .cabecalho a {
        text-decoration: none;
        color: #FE60D6;
    }
    .cabecalho a:hover {
        color: #fff;
    }
    .cabecalho ul li {
        text-transform: uppercase;
        list-style-type: none;
        display: inline;
        text-align: left;
    }
    .cabecalho {
        position: relative;
        display: inline;
        font-size: 1.5em;
        color: #FE60D6;;
        float: left;
        margin-top: 2vh;
        margin-left: -200px;
    }
    .cabecalho li {
        font-weight: bold;
    }
    .procurar {
        width: 400px;
        text-align: right;
        float: right;
        position: absolute;
        top: 0px;
        margin-left: 600px;
    }
    .menuindex {
        width: 1000px;
        clear: both;
        margin: 0 auto;
        display: inline-block;
    }
    .itemindex {
        width: 300px;
        height: 10vh;
        background-color: black;
        margin-bottom: 7vh;
        float: left;
        margin-left: 20px;
        margin-right: 10px;
        color: #FE60D6;
        box-shadow: 1vh 1vh 2vh #6C6C6C;
    }
    .itemindex h1 {
        margin-top: 4vh;
    }
    .itemindex p {
        display: none;
    }
    .itemindex a {
        text-decoration: none;
    }
    .itemindex:hover {
        box-shadow: 1vh 1vh 2vh #C6C6C6;
        color: #fff;
    }
    .ebook, .blogs_index {
        margin: 0 auto;
        display: inline-block;
        width: 100%;
        z-index: 3;
    }
    .ebook_titulo, .blogs_titulo_index {
        z-index: 3;
        width: 100%;
        background-color: black;
        color: #FE60D6;
        height: 10vh;
        margin-bottom: 7vh;
        margin: 0 auto;
        display: inline-block;
        box-shadow: 0 0 0 #C6C6C6;
    }
    .ebook_titulo h1, .blogs_titulo_index h1 {
        margin-top: 2vh;
        font-size: 3em;
    }
    .con_item_ebook, .con_item_blogs_index {
        width: 1000px;
        clear: both;
        margin: 0 auto;
        display: inline-block;
        margin-bottom: 10vh;
        margin-top: 10vh;
    }
    .item_ebook, .item_blogs_index {
        width: 450px;
        background-color: black;
        height: 10vh;
        float: left;
        margin-left: 25px;
        margin-right: 25px;
        color: #FE60D6;
        box-shadow: 1vh 1vh 2vh #6C6C6C;
    }
    .item_ebook:hover, .item_blogs_index:hover {
        box-shadow: 1vh 1vh 2vh #C6C6C6;
        color: #fff;
    }
    .item_ebook h2, .item_blogs_index h2 {
        margin-top: 3vh;
        font-size: 1.5em;
    }
    .item_ebook a, .item_blogs_index a {
        text-decoration: none;    
    }
    .mov_parallax_01 {
        height: 100vh;
        position: fixed;
        width: 5px;
        background-color: #FE60D6;
        float: left;
        margin-left: 15px;
        z-index: -1;
        top: 0px;
    }
}
@media only screen and (min-width: 480px) and (max-width: 769px){
    footer {
        clear: both;
        width: 100%;
     }
     .rodape {
         width: 50%;
         float: left;
         text-align: left;
     }
     .redes {
         width: 50%;
         float: right;
     }
    .antibloq {
        margin-top: 90px;
    }
}
@media only screen and (min-width: 769px) {
    footer {
        width: 100%;
        clear: both;
        margin-bottom: 3%;
    }
    .rodape {
        font-size: 1em;
        width: 45%;
        float: left;
        text-align: center;
     }
     .rodape img, .redes img {
         width: 10%;
     }
     .redes {
         width: 45%;
         float: right;
         margin-right: 1%;
         text-align: center;
     }
        .antibloq {
         clear: both;
         margin-top: 3%;
     }
    .jah {
		width: 25%;
        float: left;
		clear: left;
		margin-bottom: 2%;
	}
    .paragrafoscodigos {
		width: 69%;
		margin-left: 29%;
		clear: right;
	}
}
@media only screen and (max-width: 1300px) {
    .prolat{
		position:absolute;
		left:-9999px;
     }
     .prolatgo {
		position:absolute;
		left:-9999px;
     }
	.prom {
			position: relative;
			float: left;
			clear: left;
			margin: 0 0% auto -1.5%;  
			font-size: 0.5em;
			float: center;
			text-align: center;
			left: 0;
	}
}
@media only screen and (min-width: 1301px){
    .prom {
		position:absolute;
		left:-9999px;
    }
	.prolat  {
		position: relative;
		float: left;
		clear: left;
		margin-bottom: 2%;  
		font-size: 0.5em;
		float: center;
		text-align: center;
			left: 0;
	}
	.prolatgo {
		position: relative;
		float: left;
		clear: left;
		margin-bottom: 2%;  
		font-size: 0.5em;
		text-align: center;
			left: 0;
	}
}