.none {
     list-style-type: none;
}
.disc {
     list-style-type: disc;
}
.circle {
     list-style-type: circle;
}
.square {
     list-style-type: square;
}
.decimal {
     list-style-type: decimal;
}
.decimal-leading-zero {
     list-style-type: decimal-leading-zero;
}
.lower-roman {
     list-style-type: lower-roman;
}
.upper-roman {
     list-style-type: upper-roman;
}
.lower-alpha {
     list-style-type: lower-alpha;
}
.upper-alpha {
     list-style-type: upper-alpha;
}
.lower-greek {
     list-style-type: lower-greek;
}
.upper-latin {
     list-style-type: upper-latin;
}
.hebrew {
     list-style-type: hebrew;
}
.armenian {
     list-style-type: armenian;
}
.georgian {
     list-style-type: georgian;
}
.cjk-ideographic {
     list-style-type: cjk-ideographic;
}
.hiragana {
     list-style-type: hiragana;
}
.katakana {
     list-style-type: katakana;
}
.hiragana-iroha {
     list-style-type: hiragana-iroha;
}
.katakana-iroha {
     list-style-type: katakana-iroha;
}
.lower-latin {
     list-style-type: lower-latin;
}
